

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&family=Ubuntu&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: #191d2b;
    color: #fff;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.5;
}

.container-fluid {
    padding: 5% 13%;
    text-align: center;
}

/* Title Section */

#title .container-fluid {
    text-align: left;
}

.title-image img {
    height: 500px;
}

.name {
    color: #1845be;
}

.title-text .section-header {
    margin-top: 150px;
}

.btn-outline-primary:hover {
    transition: 1s;
}

.section-header {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.section-subheader {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

/* About Section */

.my-info {
    margin-top: 50px;
    text-align: left;
}

.about-image {
    height: 400px;
}

meter {
    width: 300px;
}

.skill {
    text-align: left;
}

.skill p {
    margin-bottom: 1px;
}

.percent {
    font-size: small;
}

.my-skills .section-subheader {
    margin-bottom: 3.2rem;
}

/* Portfolio Section */

.port {
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    outline: none;
    border: none;
    border-radius: 15px;
    border: #fff solid 2px;
}


/* Contact Section */

#contact .form {
    text-align: left;
}

form input, textarea {
    border-radius: 30px;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    width: 50%;
    background-color: #2a2e35;
    color: #fff;
    resize: none;
    margin: 0.5rem 0;
}
